{% extends "base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
    <h1>Сбросить пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите ваш новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новую ссылку для сброса пароля.</p>
    {% endif %}
{% endblock %}