body {
    overflow-x: hidden;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.75;
    color: #333
}

.secondary-font {
    font-family: 'Crete Round', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.heading-font,
.navbar-default .navbar-brand,
.navbar-default .nav li a {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.smoothie,
.smoothie:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.top-bar {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: #fff;
    height: 53px;
    opacity: 1;
    overflow: hidden;
}

.navbar-default {
    border-color: transparent;
    background-color: #182326
}

.navbar-default.background--dark .nav li > a,
.navbar-default.background--dark .navbar-brand,
#headerwrap.background--dark .intro-text,
.navbar-default .nav li > a,
.navbar-default .navbar-brand,
#headerwrap .intro-text {
    color: #fff;
}

#headerwrap {
    background-color: #f3f3f3;
    overflow: hidden
}

.backstretch:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0
}

.backstretch-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #79316e;
    background: -moz-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79316e), color-stop(100%, #1f2653));
    background: -webkit-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -o-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -ms-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: linear-gradient(to bottom, #79316e 0%, #1f2653 100%);
    opacity: 0.5;
}

header {
    color: #333
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #333
}

#headerwrap img {
    margin: 0 auto;
    display: block;
}

header .intro-text .intro-heading {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px
}

@media all and (min-width: 1600px) {
    .boxed-layout .master-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1400px) {
    .boxed-layout .master-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .boxed-layout .navbar-fixed-top {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media all and (min-width: 991px) {
    .slide-caption {
        width: 440px;
        height: auto;
        margin: 0 auto;
    }
}

@media(min-width:767px) {
    header .intro-text {
        padding-top: 420px;
        padding-bottom: 100px
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 20px;
        font-size: 40px;
        font-style: normal;
        line-height: 40px;
        letter-spacing: -1px
    }
    header .intro-text .intro-heading {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 6px;
        line-height: 38px
    }
    .intro-sub-heading {
        font-size: 34px;
        text-transform: lowercase;
        letter-spacing: 2px;
        font-weight: 300;
    }
    .navbar-fixed-top .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar li.dropdown:hover > ul.dropdown-menu {
        opacity: 1;
    }
    .navbar li.dropdown:hover> ul.dropdown-menu {
        display: block;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

@media(min-width:768px) {
    .pad-sides-120 {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .navbar-default {
        padding: 10px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }
    .special-max-height {
        max-height: 660px !important;
        height: 660px !important;
    }
}

@media(max-width:768px) {
    .fullheight,
    .fullheight .article-slide,
    .fullheight .article-slide .carousel-inner,
    .fullheight .article-slide .item,
    .fullheight .article-slide .item img {
        height: auto!important;
        min-height: 600px
    }
}