{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfoliobase</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" >
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
        <div class="top-bar smoothie hidden-xs">
            <div class="container">
                <div class="clearfix">
                    <div class="container">
                        <!-- Здесь должно быть лого -->
                        <img src="" alt="logo">
                        <div class="pull-right text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href= "{% url "login" %}">Войти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="headerwrap" class="backstretched fullheight">
        <div class="container vertical-center">
            <div class="intro-text vertical-center text-left smoothie">
                <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">
                    Какие-то слова
                </div>
                <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">
                    И здесь 
                    <span class="rotate">
                        тоже, какие-то, слова
                    </span>
                </div>
            </div>
        </div>
    </header>

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/plugins.js" %}"></script>
    <script type="text/javascript" src="{% static "js/init.js" %}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        jQuery('#headerwrap').backstretch([
            src="{% static "img/business1.jpg" %}",
            src="{% static "img/business2.jpg" %}",
            src="{% static "img/business3.jpg" %}"
        ], {
            duration: 8000,
            fade: 500
        });
    });
    </script>
</body>
</html>

